<div ng-app="myApp">
 <div id="facebook" >

	<network-login action='Login' network='Facebook'>Login Sytem Problem</network-login>
    <network-action network='Facebook' action='Profile' ></network-action>
    <network-action network='Facebook' action='feeds' ></network-action>
    <network-action network='Facebook' action='Photos' ></network-action>
    <network-action network='Facebook' action='myPhotos' ></network-action>
 
 </div>
  <div id="linkedin" >
	<network-login action='Login' network='LinkedIn'></network-login>	 
    <network-action network='LinkedIn' action='Profile' ></network-action>
    <network-action network='LinkedIn' action='Connections' ></network-action>
    <network-action network='LinkedIn' action='NetworkShares'></network-action>
    <network-action network='LinkedIn' action='NetworksUpdates'></network-action>
    <network-action network='LinkedIn' action='NetworkUpdates'></network-action>
    <network-action network='LinkedIn' action='peopleSearchWithKeywords'></network-action>
    <network-action network='LinkedIn' action='peopleSearchWithFacets'></network-action>

    <network-action network='LinkedIn' action='Groups' ></network-action>
    <network-action network='LinkedIn' action='groupSuggestions' ></network-action>
    <network-action network='LinkedIn' action='groupPosts'></network-action>
    <network-action network='LinkedIn' action='groupDetails'></network-action>
    <network-action network='LinkedIn' action='myFollowingCompanies'></network-action>
    <network-action network='LinkedIn' action='myFollowCompanySuggestions'></network-action>
    <network-action network='LinkedIn' action='companyDetails'></network-action>

    <network-action network='LinkedIn' action='companySearch'></network-action>
    <network-action network='LinkedIn' action='myJobSuggestions'></network-action>
    <network-action network='LinkedIn' action='myJobBookmarks'></network-action>
    <network-action network='LinkedIn' action='jobDetails'></network-action>
    <network-action network='LinkedIn' action='jobSearch'></network-action>




<div id="twitter">
  <network-login action='Login' network='Twitter' ></network-login>
</div>

<div id="Google">
  <network-login action='Login' network='Google' ></network-login>
</div>

</div>
